:root {
  --green-color: 26, 188, 156;
  --dark-green-color: 44, 62, 80;
  --font-color-base: 0, 0, 0;
  --font-color-light: 255, 255, 255;

}

/* Extend Bootstrap Utilities */
.pb-6 {
  padding-bottom: 4rem!important;
}
.pt-6 {
  padding-top: 4rem!important;
}

html {
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
}

/* header */

.header {
    background-color: rgb(var(--dark-green-color));
    text-transform: uppercase;
    
}

.menu-container {
    height: 100px;
}

.left_menu h1 {
    color: white;
    
    font-weight: bold;
}

.nav-menu li a {
    text-decoration: none;
    color: white;
}

.fa-bars {
    font-size: 2em;
    border: 2px solid white;
    border-radius: 5px;
    padding: 0.1em 0.4em;
    color: gray;
}

@media screen and (max-width: 576px) {
  .left_menu h1 {
    font-size: 1em;
  }
}
/* /header */

/* jumbotron */
.jumbotron,
.about {
  color: white;
}

.bg-green {
    background-color: rgb(var(--green-color));
}

.avatar img {
    width: 20%;
}


.row-star {
  height: 0.2em;
  width: 6em;
  margin: 1em;
  border-radius: 5em;
  
}

/* jumbotron */

/* main */

/* portfolio */
.portfolio h2,
.about h2,
.contact h2 {
  font-weight: 700;
}
.thumbs_img {
    background-color: var(--red);
    width: 100%;

  }
  
  .thumbs_img img{
    width: 100%;
    border-radius: 10px;
}

/* about */

/* /about */

/* footer */

.footer-top {
  background-color: rgba(var(--dark-green-color),0.8);
}

.social-control {
  color: white;
  font-size: 1.5em;
  border: 1px solid white;
  border-radius: 50%;
  padding: 10px;
}

.footer-bot {
  background-color: rgb(var(--dark-green-color));
}