:root {
    --bc-green: #1ABC9C;
    --bc-grey: #2c3e50;
    --bc-lighgrey: #3a546d;
    /* thumbs */
    --red: #ba4b63;
    --green: #1ea4b6;
    --black: #140f0f;
    --cyan: #1c83c1;
    --blue: #0e38b5;
    --brown: #ccb2a3;
}

/* header */

.nav_bar {
    background-color: var(--bc-grey);
    height: 100px;
}

.left_menu h2 {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

.right_menu ul li {
    display: inline-block;

}
.right_menu ul li a {
    text-decoration: none;
    color: white;
}

.hamburger_menu {
    text-align: right;
    display: none;
}

.fa-bars {
    font-size: 2em;
    border: 2px solid white;
    border-radius: 5px;
    padding: 0.1em 0.4em;
    color: gray;
}

.my_jumbotron {
    background-color: var(--bc-green);
}

.white_star {
    color: white;
}

/* /header */

/* main */

.thumbs_img {
    background-color: var(--red);
    width: 350px;
    height: 250px;
    margin-bottom: 1em;
}

.about_section {
    background-color: var(--bc-green);
}

.form_section {
    background-color: yellowgreen;
    height: 500px;
}

.form_row {
    height: 350px;
    background-color: red;
}

/* footer */
.contact_row {
    background-color: var(--bc-lighgrey);
}

.contact {
    width: 300px;
    height: 150px;
    background-color: silver;
}

.copyright_row {
    background-color: var(--bc-grey);
    height: 50px;
}

@media screen and (max-width: 767.98px) {
.right_menu ul {
    display: none;

}
.hamburger_menu {
    text-align: right;
    display: block;
}
}